<h2 class="animate__animated animate__zoomInDown animate__slow">Busquedas</h2>
<hr class="animate__animated animate__zoomInDown animate__slow">
<ul class="list-group animate__animated animate__zoomInDown animate__slow">
    <li 
        routerLink="" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        type="button"
        class="list-group-item animate__animated animate__zoomInDown animate__slow">
        Buscar País
    </li>

    <li 
        routerLink="region" 
        routerLinkActive="active" 
        type="button"
        class="list-group-item animate__animated animate__zoomInDown animate__slow">
        Por Region
    </li>

    <li 
        routerLink="capital" 
        routerLinkActive="active" 
        type="button"
        class="list-group-item animate__animated animate__zoomInDown animate__slow">
        Por Capital
    </li>
</ul>
